.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;

    }
}

.start-screen-box {
position: absolute;
left: 0;
right: 0;
bottom: 20px;
display: flex;
justify-content: center;

img {
width: 25vw;
height: auto;
cursor: pointer;

&:hover {

    filter: brightness(1.3)
}
}
}