.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/bgwood.jpg");
    background-size: cover;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-20px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.2) translateX(120px) translateY(-190px) rotate(-10deg);
}

.pick-card {

    animation: pic-card-animation 1s ease-in-out;
    transform: scale(1.2) translateX(120px) translateY(-190px) rotate(-10deg);
}

@keyframes pic-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2) translateX(120px) translateY(-190px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.pin-bottom {
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 32px;
}
app-player, app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.2)
    }
}

.gameOver {
    display: flex;
    justify-content: center;
    img {
        width: 400px;

    }
}

.preloadImage {
    opacity:  0;
    z-index: -9999999;
}
@media (max-width: 930px) {

    .scroll-container {
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .pin-bottom {
        left: 0;
        right: 0;
        bottom: 0;

    }


    .btn-add {
        bottom: 152px;
        right: 32px;
    }

    .played-card {
        right: 25px;
        transform: scale(1.1) translateX(130px) translateY(-200px) rotate(-10deg);
    }

    .pick-card {

        animation: pic-card-animation 1s ease-in-out;
        transform: scale(1.1) translateX(130px) translateY(-200px) rotate(-10deg);
    }

    @keyframes pic-card-animation {
        0% {
            transform: scale(1);
        }
    
        40% {
            transform: scale(1.2);
        }
    
        60% {
            transform: scale(1.2);
        }
    
        100% {
            transform: scale(1.1) translateX(130px) translateY(-200px) rotate(-10deg);
        }
    }
   
  
}