.player {
    display: flex;
    align-items: center;
    background-color: rgba(166, 166, 166, 0.8);
    height: 80px;
    width: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    border-top: none;
    flex-direction: column;
    padding-top: 5px;
    margin-right: 5px;
    justify-content: center;

    span {
        color: rgba(255, 255, 255, 0.223);
        font-size: 13px;
    
    }

    img {
        width: 50px;
    }
}

.player-active {
    background-color: #512a10 !important;
    border: 2px solid white;
    border-top: none;

    span {
        color: white;
    }
}