body {
    margin: 0;
}

html, body {
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media ( max-width: 930px){
    .hide-mobile {
        display: none;
    }
}


@media ( min-width: 930px){
    .hide-desktop {
        display: none;
    }
}